header {
    width: 65em;
}

h1 {
    font-size: 5vw;
    margin: 0;
}

header h2 {
    font-size: 1vw;
}

header img {
    float: right;
}

header nav {

}

header ul {
    display: flex;
}

.niveau2 {
    display: none;
}

main {
    width: 65em;
}

footer {

}


footer section {
    display: flex;
}
