header {
    width: 65em;
}

h1 {
    font-size: 5vw;
}

header h2 {
    font-size: 2vw;
}

header img {
    float: right;
}

header nav {
    
}

header ul {
    display: flex;
}

main {
    width: 65em;
}

footer {

}

footer section {
    display: flex;
}
